
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
    <meta http-equiv="refresh" content="2"/>
    <title>Reflash</title>
</head>

<body>
<p>table9</p>
{% for name in names %}
    <p>{{ name.id }}======={{ name.tab8_id }}========{{ name.tab9_name }} </p>
{% endfor %}
<script language="javascript">
    window.onload = function () {

    }

</script>
</body>
</html>